<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">  <!--Importerar så jag kan använda mig utav massa icons/fonts-->
    <link rel="stylesheet" href="css/bootstrap.min.css"> <!--Importerar bootstrapen-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/fixed.css">
    <title>Bootstrap Course</title>
</head>
<body data-spy="scroll" data-bs-target="#navbarResponsive"> <!--Detta är så när man skrollar så highlightas sectionen man är i uppe i navbaren-->
    
    <!--början på home sectionen-->
    <div id="home">

    <!--navbar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="img/2918581.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"> <!--Navbaren så att när man är i mobil storlek så blir det en knapp man kan trycka på "home osv istället"-->
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#kurs">Kurser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#funktioner">Funktioner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resurser">Resurser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#klienter">Klienter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#kontakt">Kontakta oss</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--här slutar navbaren-->

    <!--här börjar landningssida sectionen -->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
        
            </div>
        </div>
    </div>

    <div class="caption text-center">
        <h1>Bootstrap Kurs För nybörjare</h1>
        <h3>En Bootstrap Kurs</h3>
        <a class="btn btn-outline-light btn-lg" href="#kurs">Börja Här</a>
    </div>

    </div>
    <!--här slutar home-->

    
    <!--början på kurs sectionen-->
    <div id="kurs" class="offset">
        <div class="col-12 narrow text-center">
            <h1>Avancerad Bootstrap kurs</h1>
            <p class="lead">Lär Dig Att Använda Bootstrap Idag! Kom Igång Idag Och Få En Rabbat På Min Kurs</p>
            <a class="btn btn-secondary btn-md" href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" target="_blank">Bootstrap Kurs</a>
        </div>
    
    </div>
    <!--här slutar kurs-->

    <!--början på funktioner sectionen-->
    <div id="funktioner" class="offset">
        
        <!--Här är början på jumbotron-->
        <div class="jumbotron">
        <div class="narrow text-center">
            <div class="col-12">
                <h3 class="heading">Funktioner</h3>
                <div class="heading-underline"></div>
            </div>

            <div class="row text-center">

                <div class="col-md-4"> <!-- för att kunna displaya 3 olika kolumner-->
                    <div class="feature">
                        <i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-8"></i>
                        <h3>Custom Animation</h3>
                        <p>Animate.css och Waypoint.js tillåter smooth animationer när du skrollar ner i sidan.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fas fa-sliders-h fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
                        <h3>Content Slider</h3>
                        <p>Owl.Carousel.js gör navigering av innehållsreglage sömlös med dess innehållskarusellnavigering</p>
                    </div>
                </div>

                <div class="col-md-4"> 
                    <div class="feature">
                        <i class="fab fa-wpforms fa-4x" data-fa-transform="shrink-4 up-5"></i> <!--Detta är fonten/iconen-->
                        <h3>Kontaktformulär</h3>
                        <p>Bootstrap HTML formulär skickar dig direkt till din email adress med hjälp av PHPMailer.php</p>
                    </div>
                </div>

                





            </div> <!--slutet av row-->

        </div> <!--här slutar narrow-->
        </div> <!--här slutar jumbotron-->

    </div>
    <!--här slutar funktioner-->

    <!--början på resurser sectionen-->
    <div id="resurser" class="offset">
        
    <div class="fixed-background">
    <div class="row dark text-center">

        <div class="col-12">
            <h3 class="heading">Skapad Med</h3>
            <div class="heading-underline"></div>
        </div>

        <div class="col-md-4">  <!--Samma som ovanför, 3 kolummner med 3 ikoner.-->
            <h3>HTML 5</h3>
            <div class="feature">
                <i class="fas fa-code fa-3x"></i>

            </div>
            <p class="lead">Skapad med den nyaste, HTML5</p>
        </div>

        <div class="col-md-4"> 
            <h3>BOOTSTRAP v5.1.3 </h3>
            <div class="feature">
                <i class="fas fa-bold fa-3x"></i>

            </div>
            <p class="lead">Skapad med den nyaste, BOOTSTRAP v5.1.3</p>
        </div>

        <div class="col-md-4"> 
            <h3>CSS 3</h3>
            <div class="feature">
                <i class="fab fa-css3 fa-3x"></i>

            </div>
            <p class="lead">Skapad med den nyaste, CSS 3</p>
        </div>
    


    </div> <!--Här slutar row dark-->
        <div class="fixed-wrap">
            <div class="fixed">  
            </div>
        </div>
    </div> <!--Här slutar fixed background-->

    </div>
    <!--här slutar resurser-->
    
    <!--början på klienter sectionen-->
    <div id="klienter" class="offset">
        
    <!--Jumbotron start-->
    <div class="jumbotron">
        <div class="col-12 text-center">
            <h3 class="heading">Klienter</h3>
            <div class="heading-underline"></div>
        </div>

        <div class="row">
            <div class="col-md-6 klienter">
            <div class="row">
                <div class="col-md-4">
                    <img src="img/Webp.net-resizeimage (2).jpg">
                </div>
                <div class="col-md-8">
                    <blockquote>
                        <i class="fas fa-quote-left"></i> <!--quote ikon-->
                        Denna Kursen har hjälpt mig extremt mycket! Jag tycker att den är extremt värd att köpa.
                        Jag har lyckats programmera så många hemsidor med hjälp av kursen och tänker defenitivt fortsätta
                        med den tills jag kan allt själv! Rekomenderar 10/10!
                        <hr class="klienter-hr">
                        <cite>&#8212; Timothy Rindestig Månsson, En Nybörjare i programering</cite>
                    </blockquote>
                </div>
            </div>
            </div>

            <div class="col-md-6 klienter">
                <div class="row">
                    <div class="col-md-4">
                        <img src="img/Webp.net-resizeimage (1).jpg">
                    </div>
                    <div class="col-md-8">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                            Kursen som jag har tagit har fått mig, en helt ny programmerare att kunna bootstrap.
                            Rekomendear kursen med 10/10, den har lärt mig göra massor av sidor på mycket kort tid!
                            Den gör det väldigt lätt att förstå och gör jobbet lättare!
                            <hr class="klienter-hr">
                            <cite>&#8212; John Taylor, En professionel No Nut November deltagare</cite>
                        </blockquote>
                    </div>
                </div>
                </div>

        </div><!--här slutar row-->

    </div><!--Slutet på jumbotron-->


        <div class="col-12 narrow text-center">
            <p class="lead">Vill du lära dig mer om bootstrap programering?</p>
            <a class="btn btn-secondary btn-md" href="http://bit-ly/advanced-bootstrap-course" target="_blank">Bootstrap Kurs</a>
        </div>


    </div>
    <!--här slutar klienter-->
    
    <!--början på kontakt sectionen-->
    <div id="kontakt" class="offset">
        
    <footer>
    <div class="row justify-content-center">

        <div class="col-md-5 text-center">
            <img src="img/2918581.png">
            <p>I min kurs är en samling av design och utvecklingslösningar som representerar allt ditt företag behöver för att konkurrera på den moderna marknaden.</p>
            <strong>Kontakt information</strong>
            <p>(+46) 072-3073453<br>Timothy.rindestigmansson@elev.ga.ntig.se</p>
            <a href="https://www.facebook.com/profile.php?id=100009349231231" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/TihmCS" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/timothy.rm/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC2YSA_O3O72SRGbMLN2ccvA" target="_blank"><i class="fab fa-youtube"></i></a>


            
        </div>

        <hr class="socket">
        &copy; Bootstrap

    </div>
    </footer>

    </div>
    <!--här slutar kontakt-->



<!--script source files-->
    <script src=js/bootstrap.js></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>